.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: white;
}

.company-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.company-name {
    font-size: 1.5em;
    color: white;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 30px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: var(--code-orange);
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Hamburger Menu Animation */
.hamburger.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-links.open {
    display: block;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #121212;
    padding: 10px 0;
    text-align: center;
}

.navbar-links li {
    margin: 10px 20px;
}

.navbar-links a {
    padding: 15px;
    font-size: 1.2em;
}

/* Responsive Design */
@media (max-width: 780px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;
    }

    .navbar-logo {
        font-size: 1em;
    }

    .company-logo {
        width: 35px;
        height: 35px;
    }

    .company-name {
        font-size: 1em;
        
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 50%;
        transform: translateX(-60%);
        width: 100%;
        background-color: #121212;
        text-align: center;
        z-index: 999;
    }

    .navbar-links.open {
        display: block;
        position: fixed;
        top: 70px; /* Set to 100% to position it directly below the navbar */
        left: 0;
        transform: translateX(0); /* Ensure it's aligned with the left edge */
        width: 100%;
        background-color: #121212;
        padding: 10px 0;
        text-align: center;
        z-index: 999;
    }

    .hamburger {
        display: flex;
        padding-right: 10%;
    }
}
